/* Header text */
.coming-soon-header {
  color: white;
  font-family: roboto-thin-italic;
  text-align: center;
  padding: 0 14px;
  margin: 146px 0 20px;
  font-size: 26px;
  line-height: 37px;
}

/* Results container */
.coming-soon-results {
  animation: fadeIn 0.8s linear forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Entry card */
.coming-soon-card {
  width: 244px;
  height: fit-content;  
  background-color: rgb(45, 68, 100);
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* Entry cover */
.coming-soon-card img {
  width: 244px;
  height: 325px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Title div */
.coming-soon-title {
  font-family: oswald-bold;
  margin-top: 3px;
}

/* Title */
.coming-soon-title p {
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
  color: white;
}