/* Data not found '-' element */
.data-not-found {
  color: white;
  font-size: 35px;
  margin-top: -5px;
}

/* Additional stylings for loader element */
.game-page-loader:after {
  margin-top: 150px;
  border-width: 13px;
  width: 90px;
  height: 90px;
}

/* Styling for all page content */
.game-data {
  display: flex;
  margin: 114px auto 0;
  width: 90%;
  position: relative;
  animation: fadeIn 0.8s linear forwards;
}

/* Banner content */
.banner-content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 180px;
}

/* Styling for game artwork banner */
.banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 170px;
  width: 100vw;
}

/* Game name div */
.game-name-div {
  display: flex;
  flex-direction: column-reverse;
  width: 89%;
}

/* Game name */
.game-name {
  color: white;
  font-family: roboto-bold-italic;
  font-size: 25px;
  z-index: 100;
  text-shadow: 2px 2px 2px black;
  margin: 0 0 15px;
}

/* Rating div */
.rating-div {
  display: flex;
  position: absolute;
  z-index: 100;
  right: -7px;
  bottom: 15px;
}

/* Rating img */
.rating-img {
  width: 22px;
  height: 22px;
}

/* Rating */
.rating {
  padding: 0px 4px;
  font-family: roboto-bold-italic;
  font-size: 22px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

/* Main page content */
.main-content {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
}

/* Video slider container */
.slider-container {
  position: relative;
  margin: 0;
  border-radius: 10px;
}

/* Gallery container */
.gallery-container {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

/* Youtube embed */
.gallery-container iframe {
  flex-shrink: 0;
  transition: translate 300ms ease-in-out;
}

/* Arrow buttons */
.arrow-button {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  top: 43%;
  bottom: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

/* Right arrow */
.right-arrow {
  transform: scale(-1);
}

/* Make arrows visible when hovering gallery container */
.slider-container:hover .arrow-button {
  visibility: visible;
}

/* Game info container */
.game-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Headers for game information */
.game-info-header {
  font-family: roboto-bold-italic;
  font-size: 17px;
  margin-bottom: 3px;
}

/* Game information */
.game-info {
  font-family: oswald-bold;
  font-size: 15px;
  color: rgb(0, 213, 255);
}

/* Styling for information containers */
.info-container {
  background-color: rgb(45, 68, 100);
  border-radius: 5px;
  color: white;
  margin-top: 12px;
  display: flex;
  padding: 12px;
}

/* Cover container */
.cover-container {
  align-items: center;
}

/* Cover */
.cover {
  width: 130px;
  height: 173px;
  border-radius: 7px;
}

/* Container for information belonging with game cover */
.cover-info {
  padding-left: 13px;
  display: flex;
  flex-direction: column;
}

/* Remove padding from publisher element */
.publishers {
  margin-bottom: 0;
}

/* Player count & rating container */
.player-count-rating-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Player count header */
.player-count {
  font-family: roboto-bold-italic;
  font-size: 19px;
  margin-bottom: 5px;
}

/* Summary container */
.summary-container {
  flex-direction: column;
}

/* Container header */
.container-header {
  font-family: roboto-bold-italic;
  font-size: 24px;
  margin-bottom: 6px;
}

/* Summary */
.summary {
  display: inline;
  font-family: roboto-light-italic;
  font-size: 18px;
  line-height: 25px;
}

/* Button that for toggling summary */
.more-button {
  color: rgb(0, 170, 255);
  text-decoration: underline;
  font-family: roboto-bold-italic;
  cursor: pointer;
}

.more-button:hover {
  color: rgb(0, 147, 221);
}

/* Additional info container */
.additional-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 0;
}

/* Adds spacing for DLCs */
.dlc-div {
  margin-bottom: 300px;
}

/* DLCs container */
.dlcs-container {
  display: flex;
  flex-direction: column;
  width: 93%;
  position: absolute;
}

/* DLC entry container */
.dlc-entry-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 10px;
}

/* DLC header */
.dlc-header {
  font-family: roboto-bold-italic;
  font-size: 24px;
  margin-bottom: 6px;
}

/* DLC entry */
.dlc-entry {
  background-color: rgb(19, 27, 38);
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
}

/* DLC cover art */
.dlc-cover {
  width: 130px;
  height: 173px;
  border-radius: 5px;
}

/* DLC name */
.dlc-name {
  font-family: oswald-bold;
  font-size: 15px;
  padding-left: 5px;
  overflow: hidden;           
  line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;            
  -webkit-box-orient: vertical; 
}

/* Languages & release dates container */
.languages-container, .release-dates-container {
  flex-direction: column;
}

/* Language and release dates entry */
.language-entry, .release-dates-entry {
  font-family: oswald-bold;
  font-size: 17px;
  margin-bottom: 4px;
}

/* Language support type and human release date */
.support-type, .release-dates-human {
  color: rgb(0, 213, 255);
}

/* Age ratings header */
.age-ratings-header {
  color: white;
  margin-top: 18px;
  font-size: 24px;
}

/* Age ratings container */
.age-ratings {
  margin: 10px auto 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Individual age rating container */
.age-rating {
  width: 64px;
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Age rating images */
.ESRB {
  width: 37px;
  height: 55px;
}

.GRAC {
  width: 46px;
  height: 55px;
}

.PEGI {
  width: 44px;
  height: 55px;
}

.CERO {
  width: 49px;
  height: 62px;
}

.CLASS_IND, .USK, .ACB {
  width: 55px;
  height: 55px;
}

/* Game not found error message */
.game-not-found {
  color: white;
  font-family: roboto-bold;
  text-align: center;
  margin-top: 200px;
  font-size: 37px;
}