/* Data not found '-' element */
.data-not-found {
  color: white;
  font-size: 35px;
  margin-top: -5px;
}

/* Additional stylings for loader element */
.game-page-loader:after {
  margin-top: 220px;
  border-width: 13px;
  width: 90px;
  height: 90px;
}

/* Styling for all page content */
.game-data {
  display: flex;
  margin: 104px auto 0;
  width: 90%;
  position: relative;
  animation: fadeIn 0.8s linear forwards;
}

/* Banner content */
.banner-content {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  width: 100%;
  height: 180px;
}

/* Styling for game artwork banner */
.banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 170px;
  width: 100vw;
}

/* Game name */
.game-name {
  color: white;
  font-family: roboto-bold-italic;
  font-size: 25px;
  z-index: 100;
  text-shadow: 2px 2px 2px black;
  margin: 0 0 10px;
}

/* Main page content */
.main-content {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
}

/* Game info container */
.game-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Headers for game information */
.game-info-header {
  font-family: roboto-bold-italic;
  font-size: 17px;
  margin-bottom: 3px;
}

/* Game information */
.game-info {
  font-family: oswald-bold;
  font-size: 15px;
  color: rgb(0, 213, 255);
}

/* Styling for information containers */
.info-container {
  background-color: rgb(45, 68, 100);
  border-radius: 5px;
  color: white;
  margin-top: 12px;
  display: flex;
  padding: 9px 12px;
}

/* Cover container */
.cover-container {
  align-items: center;
}

/* Cover */
.cover {
  width: 135px;
  height: 179px;
  border-radius: 7px;
}

/* Container for information affiliated with game cover */
.cover-container-info {
  padding-left: 13px;
  display: flex;
  flex-direction: column;
}

/* Player count container */
.player-count-container {
  justify-content: center;
}

/* Player count header */
.player-count {
  font-family: roboto-bold-italic;
  font-size: 20px;
}

/* Summary container */
.summary-container {
  flex-direction: column;
}

/* Summary header */
.summary-header {
  font-family: roboto-bold-italic;
  font-size: 24px;
  margin-bottom: 6px;
}

/* Summary */
.summary {
  display: inline;
  font-family: roboto-light-italic;
  font-size: 18px;
  line-height: 25px;
}

/* Button that for toggling summary */
.more-button {
  color: rgb(0, 170, 255);
  text-decoration: underline;
  font-family: roboto-bold-italic;
  cursor: pointer;
}

.more-button:hover {
  color: rgb(0, 147, 221);
}

/* Additional info container */
.additional-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Age ratings header */
.age-ratings-header {
  color: white;
  margin-top: 12px;
}

/* Age ratings container */
.age-ratings {
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Individual Age rating container */
.age-rating {
  width: 64px;
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Age rating images */
.ESRB {
  width: 37px;
  height: 55px;
}

.GRAC {
  width: 46px;
  height: 55px;
}

.PEGI {
  width: 44px;
  height: 55px;
}

.CERO {
  width: 49px;
  height: 62px;
}

.CLASS_IND, .USK, .ACB {
  width: 55px;
  height: 55px;
}

/* Game not found error message */
.game-not-found {
  color: white;
  font-family: roboto-bold;
  text-align: center;
  margin-top: 200px;
  font-size: 37px;
}