/* Header container */
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Top section of header */
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: rgb(19, 27, 38);
}

/*  Header logo */
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*  Header logo icon */
.header-logo img {
  width: 42px;
  height: 42px;
  padding-right: 10px;
}

/* Header logo name */
.header-logo h1 {
  text-align: center;
  color: white;
  font-family: roboto-bold-italic;
  font-size: 20px;
}

/* menu icon */
.menu {
  width: 38px;
  height: 32px;
  cursor: pointer;
}

/* Container for search bar */
.search-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba( 0, 0, 0, 0.75 );
}

/* Search bar */
.search {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 80%;
  height: 40px;
  font-family: roboto-bold;
  font-size: 15px;
  padding: 7px;
}

/* Magnifying glass icon */
.search-icon {
  width: 27px;
  height: 27px;
  padding-right: 6px;
  cursor: pointer;
}

/* Search results lite container */
.search-results-lite {
  margin: 6px auto 0;
  width: 95%;
  background-color: white;
  border-radius: 6px 6px 7px 7px;
}

/* Not found message */
.not-found {
  font-family: roboto-light-italic;
  font-size: 22px;
  text-align: center;
}

/* Search result lite item */
.search-lite-item {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  height: 70px;
}

.search-lite-item:hover {
  background-color: rgba(185, 185, 185, 0.216);
  cursor: pointer;
}

.search-lite-item:hover:first-child {
  border-radius: 6px 6px 0 0;
}

/* Search results lite game cover */
.search-lite-cover {
  width: 52px;
  height: 70px;
}

/* Search results lite game name */
.search-lite-name {
  padding-left: 10px;
  font-family: roboto-light-italic;
  color: black;
}

/* Container for "See all results" button */
.all-results-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 27, 38);
  height: 42px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

/* "See all results" text */
.all-results-div span {
  color: white;
  font-family: roboto-bold-italic;
  text-decoration: underline;
  font-size: 18px;
}