/* Header text */
.list-header {
  color: white;
  font-family: roboto-thin-italic;
  text-align: center;
  padding: 0 14px; 
  margin: 300px 0 0 0;
  font-size: 26px;
  line-height: 37px;
}

/* Results list */
.game-list-entries {
  margin-top: 115px;
  animation: fadeIn 0.8s linear forwards;
}

/* Entry */
.game-list-entry {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  cursor: pointer;
}

.game-list-entry:hover {
  background-color: rgba(255, 255, 255, 0.146);
}


/* Entry game cover */
.game-list-entry-cover {
  display: flex;
  align-items: center;
}

/* Entry image */
.game-list-entry-img {
  width: 93px;
  height: 125px;
}

/* Entry info */
.game-list-entry-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 10px;
}

/* Entry name */
.game-list-entry-name {
  font-family: oswald-bold;
  font-size: 18px;
  margin-bottom: 3px;
}

.game-list-entry-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Entry year */
.game-list-entry-year {
  font-family: roboto-light-italic;
  font-size: 17px;
  margin-bottom: 7px;
}

/* Entry platforms */
.game-list-entry-platforms {
  font-family: roboto-light-italic;
  font-size: 14px;
}
