/* Oswald Bold Font */
@font-face {
  src: url(/fonts/Oswald/static/Oswald-Bold.ttf);
  font-family: oswald-bold;
}

/* Roboto Bold Font */
@font-face {
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-family: roboto-bold;
}

/* Roboto Bold Italic Font */
@font-face {
  src: url(/fonts/Roboto/Roboto-BoldItalic.ttf);
  font-family: roboto-bold-italic;
}

/* Roboto Light Italic Font */
@font-face {
  src: url(/fonts/Roboto/Roboto-LightItalic.ttf);
  font-family: roboto-light-italic;
}

/* Roboto Thin Italic Font */
@font-face {
  src: url(/fonts/Roboto/Roboto-ThinItalic.ttf);
  font-family: roboto-thin-italic;
}

/* Styling for all page bodies */
body {
  margin: 0;
  background-color: rgb(30, 41, 56);
}

/* Loading spinner */
.loader {
  display: flex;
  justify-content: center;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  margin: 20px 0 50px;
  content: "";
  width: 80px;
  height: 80px;
  border: 12px solid #ffffff;
  border-top-color: #3a9bf6;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

/* Styling for table player link */
.link {
  color: white;
  text-decoration: none;
}

/* Rating img */
.rating-img {
  width: 22px;
  height: 22px;
}

/* Loading animation */
@keyframes loading {
  from {transform: rotate(0turn)}
  to {transform: rotate(1turn)}
}

/* Fade In animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}