/* Top 100 header text */
.top100-header {
  color: white;
  font-family: roboto-thin-italic;
  text-align: center;
  padding: 0 14px;
  margin: 146px 0 20px;
  font-size: 26px;
  line-height: 37px;
}

/* Results container */
.top100-results {
  animation: fadeIn 0.8s linear forwards;
}

/* Entry */
.top100-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Entry number */
.top100-number {
  font-family: oswald-bold;
  padding:  0 5px 0 15px;
  font-size: 25px;
}

/* Game */
.top100-game {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  cursor: pointer;
}

/* Game cover */
.top100-game-cover {
  display: flex;
  align-items: center;
}

/* Cover image */
.top100-game-img {
  width: 125px;
  height: 166px;
}

/* Entry info */
.top100-game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 10px;
}

/* Entry name */
.top100-game-name {
  font-family: oswald-bold;
  font-size: 18px;
  margin-bottom: 3px;
}

.top100-game-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Entry rating div */
.top100-rating-div {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

/* Entry rating */
.game-rating {
  font-family: roboto-bold-italic;
  line-height: 20px;
  margin: 4px 0 0 4px;
}

/* Entry year */
.top100-game-year {
  font-family: roboto-light-italic;
  font-size: 17px;
  margin-bottom: 7px;
}

/* Entry platforms */
.top100-game-platforms {
  font-family: roboto-light-italic;
  font-size: 14px;
}