/* Video slider container */
.slider-container {
  position: relative;
  margin: 0;
  border-radius: 10px;
}

/* Gallery container */
.gallery-container {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

/* Youtube embed */
.gallery-container iframe {
  flex-shrink: 0;
  transition: translate 300ms ease-in-out;
}

/* Arrow buttons */
.arrow-button {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  top: 43%;
  bottom: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

/* Right arrow */
.right-arrow {
  transform: scale(-1);
}

/* Make arrows visible when hovering gallery container */
.slider-container:hover .arrow-button {
  visibility: visible;
}
